@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/437/426/non_2x/dark-and-black-grunge-and-texture-cement-or-concreate-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.contenedor {
    width: 98%;
    margin: auto;
}

#title-icon {
    float: left;
    color: orange;
    font-size: 30px;
    font-family: 'Syne Tactile', cursive;
    padding-left: 1cm;
    padding-top: 0%;
}

#title-icon .icono {
    width: 2cm;
    height: 2cm;
}

/* menu- bar*/
#menu-bar {
    display: none;

}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;

}

.menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);

}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 234, 0, 0.605);
}

.menu a:hover {
    background: rgba(255, 234, 0, 0.3);
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}

header .contenedor {
    display: table;
}

/* imagen scroll link nosotros */
section {
    width: 100%;
    margin-bottom: 25px;
}

#image-scroll {
    margin-top: 80px;
    position: relative;

}

#image-scroll img {
    width: 100%;
    height: 100%;

}

#image-scroll .contenedor {
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
}

#image-scroll a {
    display: block;
    width: 100px;
    color: orange;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid orangered;
    text-align: center;
    background-color: #333;

}

#image-scroll a:hover {
    background: rgba(51, 51, 51, 0.3);
}

#Sucursales {
    color: orange;
    font-size: 30px;
    text-align: center;
}

.listaSucursales {

    color: orange;
    font-size: 30px;
    padding: 30px;
    margin-left: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#Sucursales .contenedor a {
    display: block;
    width: 300px;
    color: orange;
    text-decoration: none;
    border: 3px solid orangered;
    text-align: center;
    background-color: #333;
}

li {
    border: 1px orange solid;
    padding: 15px;
}



.video {
    color: black;
    height: 450px;
    width: 100%;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block
}

.footer {
    background-color: gray;
    color: black;
    margin: 0%;
    padding-left: 5px;
    border: double orange 3px;
    display: inline-flexbox;
    position: relative;
    bottom: 0;
}

.texto {
    color: orange;
    padding: left 10px;
    font-size: 15px;
    font-style: italic;
}


.imagen {
    padding-bottom: 2cm;
    width: 15px;
    height: 15px;
    display: inline-block
}


.icono {
    width: 60px;
    height: 60px;
    display: inline-block
}

/*css menu*/
.menutitulo {
    font-size: 50px;
    color: orange;
    text-align: center;
}

.galerycontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding-left: 5cm;
    padding-top: 1cm;
    gap: 15px;
}


.galery-title {
    color: white;
    font-size: 15px;
    height: 20px;
    width: 20px;
    padding-left: 50px;
    padding-bottom: 30px;

}

.precio {
    color: white;
    padding-left: 2cm;

}



.titulos {
    font-size: 30px;
    color: orange;
    text-align: start;
    font-family: initial;
}

.imagen {
    height: 150px;
    width: 180px;
    padding: 5px;
}

.caja {
    padding-top: 1cm;
    display: flex;
    justify-content: space-between;
}

.sectionFinger {
    color: white;
    width: 400px;
    height: 100px;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1cm;

}

.imageFinger {
    padding-top: 0cm;
    padding-left: 7cm;
    text-align: center;
}

.galery-title1 {
    padding-left: 2cm;
    padding-bottom: 0cm;
    text-align: center;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: space-between;
}

/*css nosotros*/

.titulos {
    font-size: 40px;
    color: orange;
    text-align: center;
    padding: 3cm;
}

.tituloSecundario {
    color: white;
    font-size: 20px;
    padding-left: 1cm;

}

.texto {
    color: orange;
    font-size: 20px;
    text-align: center;
}

.texto2 {
    color: orange;
    font-size: 20px;
    text-align: start;
}

.formulario {
    color: gray;
    font-size: 15px;
    padding-left: 1cm
}

/*css sucursales*/

.tituloSucursales {
    font-size: 80px;
    color: orange;
    text-align: center;
}

#listaSucursales {
    display: block;
    align-self: center;
}



#lista.listaSucursales .texto {
    font-size: 50px;
    color: orange;
    
}

/*css delivery*/

.titulos {
    font-size: 60px;
    color: orange;
    text-align: center;
}

.tituloDelivery {
    font-size: 40px;
    color: orange;
    text-align: start;


}

.imagen {
    height: 280px;
    width: 280px;
    padding: 5px;
}

#pedidos .contenedor a {
    width: 200px;
    color: orange;
    border: 3px solid orangered;
    background-color: #333;
    display: inline-flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 30px;
    margin: 3cm;

}

/*version mobile*/

@media only screen and (max-width:450px) {
    .header {
        width: 100%;
        height: 20px;
        background-color: #333;
        color: orange;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    
    }
    
    .contenedor {
        width: 98%;
        margin: auto;
    }
    
    #title-icon {
        float: left;
        color: orange;
        font-size: 10px;
        font-family: 'Syne Tactile', cursive;
        padding-left: 10%;
        padding-top: 0%;
    }
    
    #title-icon .icono {
        width: 1cm;
        height: 1cm;
    }
    
    /* menu- bar*/
    #menu-bar {
        display: none;
    
    }
    
    header label {
        float: right;
        font-size: 15px;
        margin: 6px 0;
        cursor: pointer;
    
    }
    
    .menu {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(51, 51, 51, 0.9);
        transition: all 0.5s;
        transform: translateX(-100%);
    
    }
    
    .menu a {
        display: block;
        color: white;
        height: 30px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 234, 0, 0.605);
    }
    
    .menu a:hover {
        background: rgba(255, 234, 0, 0.3);
    }
    
    #menu-bar:checked~.menu {
        transform: translateX(0%);
    }
    
    header .contenedor {
        display: table;
    }
    
    /* imagen scroll link nosotros */
    section {
        width: 100%;
        margin-bottom: 25px;
    }
    
    #image-scroll {
        margin-top: 20px;
        position: relative;
    
    }
    
    #image-scroll img {
        width: 100%;
        height: 70%;
    
    }
    
    #image-scroll .contenedor {
        display:block;
        position: absolute;
        top: 80%;
    
        color: white;
    }
    
    #image-scroll a {
        display: block;
        width: 30%;
        color: orange;
        text-decoration: none;
        padding: 3px;
        margin-top: 3px;
        border: 1px solid orangered;
        text-align: center;
        background-color: #333;
    
    }
    
    #image-scroll a:hover {
        background: rgba(51, 51, 51, 0.3);
    }
    
    #Sucursales {
        color: orange;
        font-size: 10px;
        text-align: center;
    }
    
    .listaSucursales {
    
        color: orange;
        font-size: 10px;
        padding: 10px;
        margin-left: 10px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
       
    }
    
    #Sucursales .contenedor a {
        display: block;
        width: 180px;
        color: orange;
        text-decoration: none;
        border: 3px solid orangered;
        text-align: center;
        background-color: #333;
    }
    
    li {
        border: 1px orange solid;
        padding: 5px;
    }
    
    
    
    .video {
        color: black;
        height: 50%;
        width: 100%;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block
    }
    
    .footer {
        background-color: gray;
        color: black;
        margin: 0%;
        padding-left: 5px;
        border: double orange 3px;
        display: inline-flexbox;
        position: relative;
        bottom: 0;
    }
    
    .texto {
        color: orange;
        padding: left 10px;
        font-size: 10px;
        font-style: italic;
    }
    
    
    
    
    .icono {
        width: 20px;
        height: 20px;
        display: inline-block
    }
}

/* version tablet*/
@media only screen and (min-width:450px) and (max-width:960px) {
    .header {
        width: 100%;
        height: 40px;
        background-color: #333;
        color: orange;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    
    }
    
    .contenedor {
        width: 98%;
        margin: auto;
    }
    
    #title-icon {
        float: left;
        color: orange;
        font-size: 15px;
        font-family: 'Syne Tactile', cursive;
        padding-left: 10%;
        padding-top: 0%;
    }
    
    #title-icon .icono {
        width: 1.5cm;
        height: 1.5cm;
    }
    
    /* menu- bar*/
    #menu-bar {
        display: none;
    
    }
    
    header label {
        float: right;
        font-size: 20px;
        margin: 6px 0;
        cursor: pointer;
    
    }
    
    .menu {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(51, 51, 51, 0.9);
        transition: all 0.5s;
        transform: translateX(-100%);
    
    }
    
    .menu a {
        display: block;
        color: white;
        height: 30px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 234, 0, 0.605);
    }
    
    .menu a:hover {
        background: rgba(255, 234, 0, 0.3);
    }
    
    #menu-bar:checked~.menu {
        transform: translateX(0%);
    }
    
    header .contenedor {
        display: table;
    }
    
    /* imagen scroll link nosotros */
    section {
        width: 100%;
        margin-bottom: 25px;
    }
    
    #image-scroll {
        margin-top: 40px;
        position: relative;
    
    }
    
    #image-scroll img {
        width: 100%;
        height: 70%;
    
    }
    
    #image-scroll .contenedor {
        
        position: absolute;
        top: 80%;
        justify-content: center;
       
        color: white;
    }
    
    #image-scroll a {
        display: block;
        width: 30%;
        color: orange;
        text-decoration: none;
        padding: 3px;
        margin-top: 3px;
        border: 1px solid orangered;
        text-align: center;
        background-color: #333;
    
    }
    
    #image-scroll a:hover {
        background: rgba(51, 51, 51, 0.3);
    }
    
    #Sucursales {
        color: orange;
        font-size: 15px;
        text-align: center;
    }
    
    .listaSucursales {
    
        color: orange;
        font-size: 15px;
        padding: 10px;
        margin-left: 10px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
       
    }
    
    #Sucursales .contenedor a {
        display: block;
        width: 200px;
        color: orange;
        text-decoration: none;
        border: 3px solid orangered;
        text-align: center;
        background-color: #333;
    }
    
    li {
        border: 1px orange solid;
        padding: 5px;
    }
    
    
    
    .video {
        color: black;
        height: 50%;
        width: 100%;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block
    }
    
    .footer {
        background-color: gray;
        color: black;
        margin: 0%;
        padding-left: 5px;
        border: double orange 3px;
        display: inline-flexbox;
        position: relative;
        bottom: 0;
    }
    
    .texto {
        color: orange;
        padding: left 10px;
        font-size: 15px;
        font-style: italic;
    }
    
    
    
    
    .icono {
        width: 30px;
        height: 30px;
        display: inline-block
    }
}